# dependencies
node_modules

# build outputs
dist
build

# env files
.env
.env.*
!.env.example

# logs
logs
*.log

# OS/editor
.DS_Store
Thumbs.db
.idea
.vscode

# coverage
coverage

# Vite cache
.vite

# Prisma
backend/prisma/generated

# uploads
backend/uploads

# misc
*.swp
